<div align="center" style="padding-top: 10%; color: blue;">

    <table border="2" style="border-color: black;">
          <thead>
                    <tr>
                       <th>Stud ID</th>
                       <th>Stud Name</th>
                       <th>Stud Age</th>
                    </tr>
          </thead>
          <tbody>
                    <tr *ngFor="let d of data">
                       <td>{{d.studid}}</td>
                       <td>{{d.studname}}</td>
                       <td>{{d.studage}}</td>
                    </tr>
           </tbody>
    </table>


    
     
  
</div>
