
    
<div >
    <nav>
        
        <ul>
            <li><a routerLink = "/insert">INSERT</a></li>
            <li><a routerLink = "/update">UPDATE</a></li>
            <li><a routerLink = "/delete">DELETE</a></li>
            <li><a routerLink = "/view">VIEW</a></li>
           
           
           
        </ul>
    </nav>
    <h1 align="center" style="color:blueviolet; font-size: xx-large;"><u><b>WELCOME TO STUDENT DATA MANAGEMENT SYSTEM</b></u></h1>
    <router-outlet></router-outlet>
</div> 



